@CHARSET "ISO-8859-1";

#setup {
	width: 453px;
}

#login {
	padding-left: 5px;
}

#loginFields {
	text-align: center;
}

.loginField {
	margin: 0 auto;
}

#loginLoader {
	margin-top: 8px;
}

#categories {
	margin-left: 5px;
	margin-top: 3px;
}

#playlists {
	display: none;
	margin-left: 5px;
	margin-top: 3px;
}

.section {
	background-color: #E4E0D0;
	padding: 4px;
	border-top: 2px solid #92A1AE;
	border-bottom: 2px solid #92A1AE;
	margin-top: 10px;
	margin-bottom: 10px;
}

#featured {
	margin-top: 10px;
}

.featured {
	float: left;
	margin-right: 1px;
}

.thumbs {
	float: left;
	width: 150px;
	height: 120px;
	top: 112px;
}

.thumbnail {
	position: relative;
	top: 10px;
	left: 14px;
	border: 1px solid blue;
}

.videoSelect {
	width: 150px;
}

#submitButtonDiv {
	width: 450px;
}

#submitButton {
	margin-left: 102px;
}

#submitLoader {
	margin-left: 217px;
	margin-top: 8px;
}

.box input[type=text],
.box input[type=password],
.txtField,
.cjComboBox {
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:2px 6px;
    width:200px;
    outline: none;
}

.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus {
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
	color:#333;
}

.chzn-search input[type=text]:focus {
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.btnLogin {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
	padding:7px 21px;
	padding-left: 100px;
	padding-right: 100px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active {
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}

.btnLogin:active {
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

#page {
	width: 810px;
}

#player {
	width: 400px;
	margin: 0 auto;
}

#featuredVideos {
	width: 360px;
	margin: 0 auto;
}

#play {
	position: relative;
	display: none;
	margin-top: -59px;
	margin-left: 33px;
}

.thumblink {
	cursor: pointer;
	float: left;
}